
@font-face {
font-family: helvetica;
src: url(../fuentes/Helvetica.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    height: 64px;
}

main {
    font-family: Helvetica;
    overflow: hidden;  
   
}

.grilla {
    display: grid;
    grid-template-rows: repeat(3, 250px );
    grid-template-columns: repeat(4, 1fr);
}

.kof img {
    width: 100%;
    height: 100%;
}

.tof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    font-size: small;
        
}
.lof img {
    width: 100%;
    height: 100%;
}

.rof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    font-size: small;
}

.sof {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: orange;
}

.sof img {
    width: 80%;
    height: 80%;
}

.pof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    background-color: orange;
    font-size: medium;
}

.lasbebidas {
    display: flex;
    flex-direction: row;
    padding: 30px;
}


.fledrink {
    display: flex;
    flex-direction: column;
}

.lateral {
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
        
}

.frdrink{
    margin: 5px;
}

.drink {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.drink img {
    width: 64px;
    margin-right: 10px;
    margin-left: 10px;
}

.text {
    margin-right: 5px;
}

.drink img .text {
    flex-grow: 1;
}

.taza {
    display: flex;
    display: grid;
    place-items: center;
    grid-template-areas: 
    '  .    .    head  head head head head  .      .      . '
    '  .   pro1  pro1    .  pro2 pro2   .  pro3   pro3    . '
    '  .   pro1  pro1    .  pro2 pro2   .  pro3   pro3    . ' 
    '  .     .     .     .    .    .    .    .      .     . '
    '  .   pro4  pro4    .  pro5 pro5   .  pro6   pro6    . '
    '  .   pro4  pro4    .  pro5 pro5   .  pro6   pro6    . ';
    

    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    
}

.head{
    grid-area: head;
    font-size: xxx-large;
}

.pro1 {
    grid-area: pro1;
}

.pro2 {
    grid-area: pro2;
}

.pro3 {
    grid-area: pro3;
} 

.pro4 {
    grid-area: pro4;
}

.pro5 {
    grid-area: pro5;
}

.pro6 {
    grid-area: pro6;
}

.taza img {
    width: 150px;
}

.suit {
    font-size: larger;
    text-align: center;
    margin-top: 5%;
}



.losgranos {
    border: 5px solid black;
    border-radius: 15px;
    padding: 30px;
    margin: 20px 50px 0 50px;
}

.granfe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.grigrano { 
   
   display: grid;
   place-items: center;
   grid-template-areas: 
   '  .  gra1  gra1  .  gra2 gra2  .  gra3 gra3  . '
   '  .  gra1  gra1  .  gra2 gra2  .  gra3 gra3  . '  ;

grid-template-rows: repeat(2, 100px);
grid-template-columns: repeat(10, 1fr);
justify-content: center;
align-items: center;
margin: 40px 15px 10px 15px;

}

.gra1{
    display: flex;
    flex-direction: column;
    grid-area: gra1;
}

.gra2 {
    display: flex;
    flex-direction: column;
    grid-area: gra2;
}

.gra3 {
    display: flex;
    flex-direction: column;
    grid-area: gra3;
}

.grigrano img {
    width: 180px;
}

.texgra {
    margin-top: 5%;
    text-align: center;
    font-size: medium;
}







@media (max-width:526px) {
    nav ul { 
      flex-direction: column;
      display: none;
    }
    
    nav img {
        display: block;
    }

    .lasbebidas {
        flex-direction: column;
    }
    
    .taza {
        grid-template-areas: 
        'head head head head'
        'pro1 pro1 pro2 pro2'
        'pro1 pro1 pro2 pro2'
        '  .    .    .    . '
        'pro3 pro3 pro4 pro4'
        'pro3 pro3 pro4 pro4'
        '  .    .    .    . '
        'pro5 pro5 pro6 pro6'
        'pro5 pro5 pro6 pro6';
        grid-template-rows: repeat(9, 90px);
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        margin-right: 6%;
    }

   .taza img {
      width: 150px;   
   }

   .head {
    font-size: xx-large;
   }

    .lateral {
        justify-content: center;
        align-items: center;
        column-count: 2;
               
    }

    .drink {
        margin: 6%;
    }

    .grigrano {
        grid-template-areas: 
        ' . gra1 gra1 . gra2 gra2 .'
        ' . gra1 gra1 . gra2 gra2 .'
        ' .   .    .  .   .    .  .'
        ' . gra3 gra3 .   .    .  .'
        ' . gra3 gra3 .   .    .  .';

        grid-template-rows: repeat(5, 80px);
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: center;
    }

    .grigrano img {
        width: 150px;
    }

}





footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1%;

}

.sigue {
    display: flex;
    align-items: start;
    font-size: 120%;
    margin-top: 3%;
    margin-bottom: 1%;
    }

.sox img {
    
    height: 50px;
    
}

.dere {
    display: flex;
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 3%;

}