
.lasbebidas {
	display: flex;
	flex-direction: row;
	padding: 30px;
}

.fledrink {
	display: flex;
	flex-direction: column;
}

.lateral {
	border: 2px solid black;
	border-radius: 15px;
	align-items: center;
	background-color: rgba(255, 221, 26, 0.808);
}

.frdrink {
	margin: 5px;
}
.drink {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
	img {
		width: 64px;
		margin-right: 10px;
		margin-left: 10px;
		.text {
			flex-grow: 1;
		}
	}
}

.text {
	margin-right: 5px;
}

.taza {
	display: flex;
	display: grid;
	place-items: center;
	grid-template-areas: 
    '  .    .    head  head head head head  .      .      . '
    '  .   pro1  pro1    .  pro2 pro2   .  pro3   pro3    . '
    '  .   pro1  pro1    .  pro2 pro2   .  pro3   pro3    . ' 
    '  .     .     .     .    .    .    .    .      .     . '
    '  .   pro4  pro4    .  pro5 pro5   .  pro6   pro6    . '
    '  .   pro4  pro4    .  pro5 pro5   .  pro6   pro6    . ';
	grid-template-rows: repeat(6, 100px);
	grid-template-columns: repeat(10, 1fr);
	justify-content: center;
	align-items: center;
	margin-left: 8%;
	img {
		width: 150px;
	}
	img {
		width: 150px;
	}
}


.head {
	grid-area: head;
	font-size: xxx-large;
}

.pro1 {
	grid-area: pro1;
}
.pro2 {
	grid-area: pro2;
}
.pro3 {
	grid-area: pro3;
}
.pro4 {
	grid-area: pro4;
}
.pro5 {
	grid-area: pro5;
}
.pro6 {
	grid-area: pro6;
}

.suit {
	font-size: larger;
	text-align: center;
	margin-top: 5%;
}