
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.abso {
    position: absolute;
}

.soicon {
    display: flex;
    background-color: rgb(44, 18, 6);
    justify-content: center;
    padding: 30px;
}

.soicon img {
    margin: 0 3% 0 3%;
    width: 40px;
}


.teboton {
    display: flex;
    justify-content: center;
    background-color: grayscale($color: #ffffff);
    padding: 7px
}

h4 {
    font-size: 15px;
}


